.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}
.img .imgCover {
  display: flex;
  flex-direction: row;
 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
}
.container h4 {
  padding: 0px 20px;
}